<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>StorageManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FirstPage</display-name>
    <servlet-name>FirstPage</servlet-name>
    <servlet-class>com.cg.servlet.FirstPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstPage</servlet-name>
    <url-pattern>/FirstPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondPage</display-name>
    <servlet-name>SecondPage</servlet-name>
    <servlet-class>com.cg.servlet.SecondPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondPage</servlet-name>
    <url-pattern>/SecondPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThirdPage</display-name>
    <servlet-name>ThirdPage</servlet-name>
    <servlet-class>com.cg.servlet.ThirdPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThirdPage</servlet-name>
    <url-pattern>/ThirdPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForthPage</display-name>
    <servlet-name>ForthPage</servlet-name>
    <servlet-class>com.cg.servlet.ForthPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForthPage</servlet-name>
    <url-pattern>/ForthPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstPageS</display-name>
    <servlet-name>FirstPageS</servlet-name>
    <servlet-class>com.cg.httpsession.FirstPageS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstPageS</servlet-name>
    <url-pattern>/FirstPageS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondPageS</display-name>
    <servlet-name>SecondPageS</servlet-name>
    <servlet-class>com.cg.httpsession.SecondPageS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondPageS</servlet-name>
    <url-pattern>/SecondPageS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThirdPageS</display-name>
    <servlet-name>ThirdPageS</servlet-name>
    <servlet-class>com.cg.httpsession.ThirdPageS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThirdPageS</servlet-name>
    <url-pattern>/ThirdPageS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForthPageS</display-name>
    <servlet-name>ForthPageS</servlet-name>
    <servlet-class>com.cg.applicationctx.ForthPageS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForthPageS</servlet-name>
    <url-pattern>/ForthPageS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForthPagesS</display-name>
    <servlet-name>ForthPagesS</servlet-name>
    <servlet-class>com.cg.httpsession.ForthPagesS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForthPagesS</servlet-name>
    <url-pattern>/ForthPagesS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstPagec</display-name>
    <servlet-name>FirstPagec</servlet-name>
    <servlet-class>com.cg.cookies.FirstPagec</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstPagec</servlet-name>
    <url-pattern>/FirstPagec</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondPagec</display-name>
    <servlet-name>SecondPagec</servlet-name>
    <servlet-class>com.cg.cookies.SecondPagec</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondPagec</servlet-name>
    <url-pattern>/SecondPagec</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThirdPagec</display-name>
    <servlet-name>ThirdPagec</servlet-name>
    <servlet-class>com.cg.cookies.ThirdPagec</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThirdPagec</servlet-name>
    <url-pattern>/ThirdPagec</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForthPagec</display-name>
    <servlet-name>ForthPagec</servlet-name>
    <servlet-class>com.cg.cookies.ForthPagec</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForthPagec</servlet-name>
    <url-pattern>/ForthPagec</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstPageh</display-name>
    <servlet-name>FirstPageh</servlet-name>
    <servlet-class>com.cg.hiddenfields.FirstPageh</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstPageh</servlet-name>
    <url-pattern>/FirstPageh</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondPageh</display-name>
    <servlet-name>SecondPageh</servlet-name>
    <servlet-class>com.cg.hiddenfields.SecondPageh</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondPageh</servlet-name>
    <url-pattern>/SecondPageh</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThirdPageh</display-name>
    <servlet-name>ThirdPageh</servlet-name>
    <servlet-class>com.cg.hiddenfields.ThirdPageh</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThirdPageh</servlet-name>
    <url-pattern>/ThirdPageh</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForthPageh</display-name>
    <servlet-name>ForthPageh</servlet-name>
    <servlet-class>com.cg.hiddenfields.ForthPageh</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForthPageh</servlet-name>
    <url-pattern>/ForthPageh</url-pattern>
  </servlet-mapping>
</web-app>